doctype html
html(ng-app='smashingStations')
  head
    script(src='bower_components/angular/angular.js')
    script(src='js/app.js')
    meta(charset='utf8')
    title= title
  body(ng-cloak='')
    block body
